<ion-view view-title="Workout">
  <ion-nav-buttons side="primary">
      <button class="button button-icon" ng-click="newExercise()">
        <i class="icon ion-plus"></i>
      </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="card" ng-repeat="ex in exercises">
      <div class="item item-divider">
        {{ex.title}} and 200kg x 5 x 3
      </div>
      <div class="item item-text-wrap">
        Circles representing sets and reps
      </div>
      <div class="item item-text-wrap">
        Sum of total volum on this workout
        prev sum -> cur sum (live update)
      </div>
    </div>
  </ion-content>
</ion-view>
